<!DOCTYPE html>
<html>
<head>
    <title>Income</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="../static/header.css">
    <link rel="stylesheet" type="text/css" href="../static/expenses.css">
</head>
<body>
    {% include "header.html" %}
    <main>
        <div class="container">
            <h2>Income</h2>
            <div class="transactions-table">
                <table>
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Category</th>
                            <th>Amount</th>
                            <th>Description</th>
                            <th>Frequency</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for income in incomes %}
                        <tr>
                            <td>{{ income.date }}</td>
                            <td>{{ income.category }}</td>
                            <td>{{ income.amount }}</td>
                            <td>{{ income.description }}</td>
                            <td>{{ income.frequency }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <a href="{{ url_for('add_income') }}" class="add-transaction-btn">Add Income</a>
        </div>
    </main>
</body>
</html>