<!DOCTYPE html>
<html>
<head>
    <title>Security Questions</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="../static/security_questions.css">
        <link rel="stylesheet" type="text/css" href="../static/header.css">
</head>
<body>
    {% include 'header.html' %}
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class="flashes">
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
{% endwith %}
    <div class="container">
        <h2>Security Questions</h2>
        <form action="{{ url_for('security_questions') }}" method="POST">
            <div class="form-group">
                <label>Security Question 1:</label>
                <select name="security_question_1" required>
                    <option value="" disabled selected>Select a question</option>
                    <option value="What was your mother's maiden name?">What was your mother's maiden name?</option>
                    <option value="In what city were you born?">In what city were you born?</option>
                    <option value="What is the name of your first pet?">What is the name of your first pet?</option>
                    <option value="What is your favorite book?">What is your favorite book?</option>
                    <option value="What is your favorite movie?">What is your favorite movie?</option>
                    <option value="What is your favorite food?">What is your favorite food?</option>
                </select>
                <input type="text" name="security_answer_1" placeholder="Answer" required>
            </div>
            
            <div class="form-group">
                <label>Security Question 2:</label>
                <select name="security_question_2" required>
                    <option value="" disabled selected>Select a question</option>
                    <option value="What was your mother's maiden name?">What was your mother's maiden name?</option>
                    <option value="In what city were you born?">In what city were you born?</option>
                    <option value="What is the name of your first pet?">What is the name of your first pet?</option>
                    <option value="What is your favorite book?">What is your favorite book?</option>
                    <option value="What is your favorite movie?">What is your favorite movie?</option>
                    <option value="What is your favorite food?">What is your favorite food?</option>
                </select>
                <input type="text" name="security_answer_2" placeholder="Answer" required>
            </div>
            
            <button type="submit">Submit</button>
        </form>
    </div>
</html>